*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    scroll-behavior: smooth; 
}
body{

background: url( img/background-img.jpg);
 background-size: cover;
background-position: center;
height: 100vh;
display: flex;
justify-content: center;
align-items:center ;   

}
.cuntainer{
    height: 80%;
    width:80%;
background: rgba(0, 0, 0, 0.4);
border-radius:  20px; ;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
 nav .logo{
color: white;
text-decoration: none;
font-size: 35px;
text-transform: uppercase;
letter-spacing: 2px;
font-weight: 700;
}
 nav  ul li {

display:inline-block;
margin: 0 6px;


}
nav  ul li a{
    list-style:none;
    color:#fff;
    text-decoration: none;
    font-size:20px ;
    font-weight: 500;
padding: 3px;



display: flex;


transition: 0.34s ease-in-out;

}
nav  ul li a:hover{
    color:rgba(0, 0, 0, 0.795);
    border:1px  rgb(255, 94, 0);
    background-color: rgb(255, 94, 0);
border-radius: 20px;


transform: translateY(-7px);
}
.content{
display: flex;
justify-content: space-between;
 align-items: center;   
 height:100%;
    width:80%;
    margin: auto;
  
}
.content .text{
    color: #fff;
    width: 40%;
}
.content .text h2{
    font-size:40px ;
    text-transform:uppercase ;
    width: 700;
    letter-spacing: 2px;

}
.content .text  p{
    line-height: 25px;
font-size:18px;
margin: 10px 0;
letter-spacing: 1px;

}
.content .img{
    width: 40%;
 display: inline-block;
}
.content .img img{
    width: 400px;
   
}

@media  (max-width:950px) and (max-width:1150px){
     
    .content .text{
        width:80%;
    }
    .content .img img{
    width: 330px;
}
}
@media   (max-width:1050px){
    
    
    .content,nav{
        flex-direction: column;
        justify-content: center;
    }
    .content .img, .content .text{
        width: 80%;
     
    }
    .content .img img{
        width: 270px;
        position: relative;
        left: 20%;
    }
}