*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
body{
background: url(desert_20-wallpaper-1920x1080.jpg);
 background-size: cover;
background-position: center;
height: 100vh;
display: flex;
justify-content: center;
align-items:center ;   

}

.cuntainer{
    height: 80%;
    width:80%;
background: rgba(255, 255, 255, 0.1);
border-radius:  20px; ;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
 nav .logo{
color: white;
text-decoration: none;
font-size: 35px;
text-transform: uppercase;
letter-spacing: 2px;
font-weight: 700;
}
 nav  ul li {

display:inline-block;
margin: 0 6px;


}
nav  ul li a{
    list-style:none;
    color:#fff;
    text-decoration: none;
    font-size:20px ;
    font-weight: 500;
padding: 3px;



display: flex;


transition-property: transform;
transition-duration: 0.3s;
transition-timing-function: ease;
transition-delay: 0s;
transition:all 0.3;
animation-name:inn;

}
nav  ul li a:hover{
    color:rgba(0, 0, 0, 0.795);
    border:1px  red;
    background-color: rgb(255, 0, 0);
border-radius: 20px;


transform: translateY(-7px);
}


.content{
align-items: center;
display: flex;
    height:100%;
    width: 80%;
    margin: auto;
 
}
.content .text{
    color: #fff;
    width: 40%;


}
.content .text h2{
    font-size:40px ;
    text-transform:uppercase ;
    width: 700;
    letter-spacing: 2px;

}
.content .text h5{
    line-height: 20px;
font-size:20px;
margin: 10px 0;
letter-spacing: 1px;

}


@media  (max-width:950px) {
    .content , nav{
    flex-direction: column;
    justify-content: center;
    
    }
    .content .text{
        width:80%;
    }

}