*{
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth; 
  font-family: 'Poppins', sans-serif;
}
body{
    
  
 
  color: white;
 cursor: default;
 
  
  }
 .logo{
    letter-spacing: 4px;
    font-weight: 800;
    cursor: default;
 user-select: none;
 margin: 20px;
 }
  

  .one{
    position: relative;
    right: 3px;
    top: 2px;
  }
  .one a{
    text-decoration: none;
    color: white;

  }

  .naver button {
    margin-left: 10px;
    padding: 10px;
    border-radius: 20px;
    border: solid white 1px;
    font-size: 15px;
    letter-spacing: 4px;
    background-color:  transparent;
    margin: 20px;
    color: white;
    transition:  0.2s ease-in-out;

  }
 
  

/* header */
 

header{
    position:absolute;
    left: 0;
    top: 0; 
    width: 100%;
    
   
    display: flex;
 justify-content: space-between;
    align-items: center;
    z-index: 99;

}
.naver{
  position: relative;
  right: 0px;
  display:  inline-block;}

 .naver  button:hover {
    background-color: white;
    box-shadow: 1px 1px 100px #ffffff;
    color: #000000;
    transform: scale(1.1);

  }
  .naver  button:hover a{
    color: #000000;
  } 



/* ---------------main-------------------- */
  
  

  .main .abor:hover h1 {
    background-color: white;
    color: black;
 transform: scale(1.1em);
    box-shadow: 3px 1px 10px  white;
 
 
  }
  .main .abor:hover p{
     
    transform: scale(1.1em);
  }
  .main .img:hover img{
     
 left:57% ;
 
  }
  .main .img:hover .cube {
    left: 66%;
    top: 32%;
  }
  

 
  .main{
    margin-top: -35px;
 
    background-image: url(img/pexels-felixmittermeier-956999.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 
   background-position: center; 
 
 
  width: 100%;
  height: 100vh;
  }
.main .me{
  width: 50%;
  height: 400px;
  
}
 
.main .me .cube {
  position:  absolute;
  top: 35%;
  left: 64%;
  display: block;  
  width: 350px; 
  height: 350px;
  line-height: 50px;  
  border-radius: 50%;  
  text-align: center;  
  background-color: rgb(255, 255, 255);  
  color: #fff;  
  transition: 0.4s ease-in-out;
}
  .main .abolo{
    width: 530px;
    position: absolute;
    left: 58%;
    top:10% ;
    border-radius: 50%;  
    object-fit: cover;
    display: inline-block;
 margin: 30px;
    transition: 0.4s ease-in-out;
  }
  .main h1{
    padding: 3px;
    display: inline-block;
    font-size: 40px;
    position: absolute;
    left: 9%;
     top: 300px;
     border-left: 1px white solid;
     border-bottom: 1px white solid;
     border-bottom-left-radius: 10px;
     transition: 0.4s ease-in-out;
  }
   .main p{
    display: inline-block;
    position: absolute;
    left: 9%;
     top: 360px;
     width: 400px;
     font-size: 20px;
     transition: 0.4s ease-in-out;
  }
  



 
  /* ============weeeeeeebs ===============*/
 




 main{
  text-align: center;
 
}

 main svg{
  z-index: 2;
  position: absolute;
  top: 100%;
  left: 0;
 } 

.projects{
 z-index:  3;
  padding: 50px;
 color: #000000; 
 
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}
 
 
   .projects-h1{
    display: inline  ;
    font-weight: 800;
    letter-spacing: 4px;
    border-bottom: black 1px solid;
    border-left:black 1px solid ;
    transition: 0.2s ease-in-out;
   
    border-bottom-left-radius: 20px;
    padding: 5px;
    margin-top: 20px;
    color: #000000;

  }
  .projects a{
    text-decoration: none;
    color: #000000;
  }
  
 .projects .pro{
    width: 300px;
    height: 300px;
   
    border-radius: 20px ;
    margin-top: 50px;
    margin-left: 20px;
    box-shadow: 7px 6px 5px rgb(185, 185, 185);
    transition: 0.3s ease-in-out;
  }
  .projects .pro .img img{
  
    border-radius: 20px ;
    width: 280px;
    height: 200px;
    margin-top: 5px;
    margin-left:5px;
    
  }
 
  .projects .pro p{
    font-size: 17px;
    text-align: start;
    margin: 5px;
    }

    .projects .pro:hover{
      transform: scale(0.95);
      box-shadow:none;
      
    }
/* ----------------------------- */

 
  /* ________________footer____________ */
  footer{
     color: black ;
     background-color: rgb(255, 255, 255);
     text-align: center;
     padding: 20px; 
  }
  footer .with{
    display: inline  ;
    font-weight: 800;
    letter-spacing: 4px;
    border-bottom: rgb(0, 0, 0) 1px solid;
    border-left:rgb(0, 0, 0) 1px solid ;
    transition: 0.2s ease-in-out;
   
    border-bottom-left-radius: 20px;
    padding: 5px;
    margin-top: 20px;
 
  }
  footer .border-contect{
    display: flex;
    align-items: center;
    justify-content:  center;
    margin-top: 20px;
    
 
  }
  
  footer .conect{
   
    color: #000000;
    margin: 30px;
 transition: 0.2s ease-in-out;
  }
  footer .conect  h1{
    float: inline-end;
    
  }
  footer .conect  a{
    text-decoration: none;
    color: #000000;
  }
  footer .conect  a img{
 width: 50px;
  } 
  footer .conect:hover{
    transform: scale(1.1);
    box-shadow:4px 4px 7px #ffffff;
  }

 
 
/* ----------------------------- */
@media (max-width:1023px){
  
  .naver button {
    font-size: 45px;
  }
  
  header{
    top: 30px; 
} 
.main{
  width: 100%;
}

  .main .img{
  display: none;
 }

 .main .abor h1{
  font-size: 145px;
top: 25%;
border-radius: 60px;
 }

 .main .abor p{
  font-size: 55px;
  width: 80%;
  top: 40%;
 }

 .projects-h1{
  font-size: 75px;
  font-weight: 500;
 
 }

 .projects .pro {
  
 width: 100%;
 }
 .projects .pro .img img{
  float: inline-end;
 /* position: absolute;
  left: 150px; */
  display: inline;
position: relative;
left: -20px;
top: 20px;
  width: 380px;
  height: 250px;
  margin-top: 5px;
  
  
  
}
 .projects .pro p{
  font-size: 37px;
 
 
  width:  45%;
  }
  .projects .pro p strong{
    font-size: 40px;
    margin-bottom: 10px;
  }

 .projects .pro:hover{
  transform: scale(  0.95);
  box-shadow:none;
  
}

footer .with{
  font-size: 75px;
  font-weight: 500;
}

footer .conect{
  transform: scale(1.2);
  margin: 33px;

}


 footer{
  color: black ;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px; 
}


footer .border-contect{
 display:    block  ;
 
  
  text-align:center  ;
  
}
footer .conect a{
  display: block;
  width: 50%;
  height:  20%;
  margin: 50px auto;
  /* border: #000000 1px solid; */
  box-shadow: 7px 6px 5px rgb(185, 185, 185);
  border-radius: 50px;
font-size: 26px;
padding: 10px;
font-weight: 500;
}
 
footer .conect a h1{
  float: none;
  display: inline-block;
  font-weight: 500;
}
footer .conect a img{
  width: 70px;
}

 

}

  